.explorePage{
    width: 100%;
}
.exploreView{
    display: inline-block;
    height:350px;
    width: 20%;
    text-align: center;
    font-size: 200%;
}

.exploreImg{
    border-radius: 20px;
    cursor: pointer;
    object-fit: cover;
    width: 70%; 
    height: 80%; 
    text-align: center;
    filter: sepia(50%);
}

.exploreImg:hover{
    box-shadow: 8px 8px 20px white;
    transition: 0.5s;
}

.title{
    font-size: 300%;
    text-align: center;
    margin-top: 0px;
}