html{
    height: 100%;
    width: 100%;
}

.generatePage{
    width: 100%;
}

.generateView{
    display: inline-block;
    height:350px;
    width: 20%;
    text-align: center;
    font-size: 200%;
}

.generateImgGenre{
    border-radius: 20px;
    object-fit: cover;
    width: 70%; 
    height: 80%; 
    text-align: center;
    filter: sepia(50%);
}

.title{
    font-size: 300%;
    text-align: center;
    margin-top: 0px;
}

.button{
    position: absolute;
    width: 80%;
    height: 50px;
    top: 33%;
    right: 70px;
    text-align: center;
}

.buttonNext{
    width: 5%;
    height: 100%;
    background-color: rgb(51, 50, 51);
    margin-bottom: 0;
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 200%;
    cursor: pointer;
    border-radius: 30px;
    position: absolute;
    transition-duration: 0.4s;
    top: 0;
    right: 0;
}

.buttonNext:hover{
    background-color: rgb(125, 94, 160);
}

.buttonNext:disabled{
    background-color: rgb(209, 209, 209);
}

.buttonNext[disabled]:hover{
    background-color: rgb(209, 209, 209);
}

.percentStatus{
    position: absolute;
    bottom: 0;
    right: 40%;
    font-size: 200%;
}

.percent{
    position: relative;
    left: 18%;
    bottom: 35px;
}

