.playlistMenu{
    height: 70vh;
    width: 100%;
    display: flex;
}

.playlistMenuItem{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.playlistButton{
    height: 10%;
    width: 70%;
    background-color: rgb(51, 50, 51);
}