.playlistInfoDiv{
    width: 100%;
    position: relative;
    place-items: center;
    
}
table.playlistInfo{
    background-color: rgb(125, 94, 160);
    border-radius: 10px;
    width: 40%;
    height: 100%;
    position: relative;
    left: 30%;
    right: 30%;
    margin-top: 3%;
    font-size: 300%;
    
}

table.playlistInfo td, tr{
    color: white;
    vertical-align: top;
    border-bottom: 5px;
    border-color: black;
  }

.info{
    font-size: 300%;
}

.generateButton{
    background-color: rgb(51, 50, 51);
    font-size: 350%;
    border-radius: 5px;
    width: 20%;
    position: relative;
    left: 40%;
    right: 40%;
    margin-top: 2%;
    cursor: pointer;
}

.generateButton:hover{
    background-color: rgb(125, 94, 160);
}

.playlistButton{
    background-color: rgb(51, 50, 51);
    font-size: 350%;
    border-radius: 5px;
    width: 20%;
    position: relative;
    left: 40%;
    right: 40%;
    margin-top: 2%;
    cursor: pointer;
}
.shortList{
    margin: auto;
    margin-top: 5%;
    width: 50%;
    text-align: center;
    font-size: 200%
}