
html{
    height: 100%;
}
.menu{
    height: 70vh;
    width: 100%;
    display: flex;
}


.menuItem{
    height: 75%;
    width: 33%;
    /* border-style: solid;
    border-color: aquamarine; */
    display: flex;
    justify-content: center;
    position: relative;
}

.buttonRight{
    width: 70%;
    height: 80%;
    background-color: blueviolet;
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 500%;
    cursor: pointer;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.buttonLeft{
    width: 70%;
    height: 80%;
    background-color: blueviolet;
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 500%;
    cursor: pointer;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.midButton{
    width: 80%;
    height: 90%;
    background-color: blueviolet;
    margin-bottom: 0;
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 550%;
    cursor: pointer;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
}

