/* topbarView */

* {
	font-family: 'Odibee Sans';
	color: white;
}

body{
	background-image: linear-gradient( #d16ba5, #a85680, #80435e, #5a3040, #351f26, #25171c, #170e11, #000000, #000000, #000000, #000000, #000000);
	margin: 6px;
}

.top{
	width: 100%;
	height: 5%;
}

.topbuttons{
	float: right;
	display: inline;
	margin-right: 1vw;
}

.b1{
	height: 100%;
	width: 100px;
	font-size: 220%;
	background-color: #151443;
	box-shadow: 3px 3px 3px #909196;
	margin-left: 1vw;
}

.head{
	height: 20%;
	margin-top: 0;
	width: 100%;
	text-align: center;
	font-size: 18vmin;
}

.nav{
	width: 100%;
	height: 5%;
}

.b2{
	width: 33%;
	height: 100%;
	background: none;
	border: none; 
  margin: 0;
  padding: 0;
	font-size: 220%;
	cursor: pointer;
}

.menu{
	display: flex;
	width: 100%;
	height: 67%;
}

.menudiv{
	width: 33%;
	height: 100%;
}

.menuitem{
	width: 100%;
	height: 100%;
}