/* topbarView */

* {
	font-family: 'Odibee Sans';
	color: white;
}

html{
	background: linear-gradient(180deg,#151443 70%, black 100%);
	height: 100%;
}

.background{
	background: linear-gradient(black 60%, #151443 100%);
	height: 30vh;
	position: relative;
}

.top{
	width: 23%;
	height: 15%;
	background-color: black;
	padding-top: 10px;
	position: absolute;
	right: 0;
}

.topbuttons{
	float: right;
	display: inline;
	margin-right: 1vw;
	height: 100%;
}

.b1{
	height:35px;
	width: 100px;
	float: left;
	font-size: 1.5em;
	background-color: #151443;
	box-shadow: 3px 3px 3px #909196;
	margin-left: 1vw;
}

.head{
	height: 100px;
	width: 100%;
	text-align:center;
	font-size: 10vmin;
	position: absolute;
	left: 0;
	top: 30px;
}

.nav{
	width: 100%;
	height: 20%;
	position: absolute;
	bottom: 50px;
}

.b2{
	width: 33%;
	height: 100%;
	background: none;
	border: none; 
  	margin: 0;
  	padding: 0;
	font-size: 3vmin;
	cursor: pointer;
	background: 
     linear-gradient(90deg, transparent, white, transparent) 
     bottom /var(--d, 0) 3px no-repeat;
}
.b2:hover{
	--d: 30%;
	transition: 0.5s;
}

.menu{
	display: flex;
	width: 100%;
	height: 67%;
}

.menudiv{
	width: 33%;
	height: 100%;
}

.menuitem{
	width: 100%;
	height: 100%;
}